.delay-input-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.delay-input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
  border-radius: 4px;
  transition: outline 0.3s ease-in;
  border: 1px solid #808080;
}

.delay-input:hover,
.delay-input:focus {
  outline: 1px solid #000;
}

.form-delay-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 0.5s ease-in;
}

.form-delay-btn:hover,
.form-delay-btn:focus {
  background-color: #6c8cff;
}

.fieldset-input {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  width: 360px;
  height: 64px;
  margin-bottom: 24px;
}

.label-fulfiled {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #2e2f42;
}